<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1><%= title %></h1>
<ul class="office-links">
  <% link.forEach((l) => { %>
    <li>
      <a href="<%= l.link %>"><%= l.location %> offices</a>
    </li>
  <% }) %>
</ul>  

<%- include('../partials/footer') %>