<%- include('../partials/head') %>
<%- include('../partials/header') %>

<ul>
  <% link.forEach((l) => { %>
    <li>
      <a href="<%= l.link %>"><%= l.location %></a>
    </li>
  <% }) %>
</ul>  

<%- include('../partials/footer') %>