<%- include('../partials/head') %>
<%- include('../partials/header') %>

<ul>
  <% pastwork.forEach((p) => { %>
    <li>
      <a href="/past-work/<%= p.id %>"><%= p.suit %></a>
    </li>
  <% }) %>
</ul>

<a href="/past-work/new">Add New Work</a>

<%- include('../partials/footer') %>