<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2><%= pastwork.suit %></h2>
<img src="<%= pastwork.image %>" alt="">

<a href="/past-work/<%= pastwork.id %>/edit">Edit Work</a>

<%- include('../partials/footer') %>