<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1><%= title %></h1>
<form action="/staff/<%= staff.id %>?_method=PUT" method="POST">
  <div>
    <p>Full Name</p>
    <input type="text" name="name" value="<%= staff.name %>">
  </div>
  <div>
    <p>Position</p>
    <input type="text" name="position" value="<%= staff.position %>">
  </div>
  <div>
    <p>Image URL</p>
    <input type="text" name="image" value="<%= staff.image %>">
  </div>
  <button type="submit">Update</button>
</form>


<%- include('../partials/footer') %>