<%- include('../partials/head') %>
<%- include('../partials/header') %>

<ul>
  <% staff.forEach((s) => { %>
    <li>
      <a href="/staff/<%= s.id %>"><%= s.name %></a>
    </li>
  <% }) %>
</ul>

<a href="/staff/new">Add New Staff Member</a>

<%- include('../partials/footer') %>