<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2><%= staff.name %></h2>
<img src="<%= staff.image %>" alt="">

<a href="/staff/<%= staff.id %>/edit">Edit Staff Member</a>


<%- include('../partials/footer') %>